@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #e5e7eb;
  }

  ::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 10px;
  }

  .dark ::-webkit-scrollbar-track {
    background: #1f2937;
  }

  .dark ::-webkit-scrollbar-thumb {
    background: #4b5563;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
